<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <!-- <link rel="icon" href="../../favicon.ico"> -->

  <title>Predator-prey</title>

  <!-- Bootstrap core CSS and other modules:  see source code UI_dev/gulpfile.js -->
  <style>  </style>

  <!--  -->
  <script src="d3/d3.min.js"></script>
  <script src="lodash.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>

<body>

  <div ng-app="App" ng-controller="MainCtrl as MainCtrl">
    
    <div>
        Prey: {{MainCtrl.preyCount}}
        <div class="slidecontainer">
          <input type="range" min="0" max="100000" ng-model="MainCtrl.preyCount" class="slider">
        </div>
    </div>
    <div>
        Predators: {{MainCtrl.predatorCount}}
        <div class="slidecontainer">
            <input type="range" min="0" max="20000" ng-model="MainCtrl.predatorCount" class="slider">
        </div>
    </div>

  	<svg id="habitat" width="400px" height="400px"></svg>
    <div>
        <button type="button" ng-click="MainCtrl.startAnimation()">start</button>
        <button type="button" ng-click="MainCtrl.stopAnimation()">stop</button>
        <button type="button" ng-click="MainCtrl.resetData()">reset</button>
    </div>
    <svg id="timeseries" width="400px" height="200px"></svg>

  </div> <!-- END app -->

<script>
/* ==============================================================================
 * Code style mostly follows: https://github.com/johnpapa/angular-styleguide
 */

(function() {
  'use strict';

  // Define our application, 'App', and list module dependencies (all found in dependencies.js)
  angular
  .module('App', []);

})();

/* ==============================================================================
 * MainCtrl controls UI elements.
 * 
 * Only let the user see one stage at a time.
 */

(function() {
  'use strict';

  angular.module('App')
  .controller('MainCtrl', ["$scope", MainCtrl]);

  function MainCtrl($scope) {

    // ------------------------------------------------------------------------
    //     BEGIN MainCtrl definition     --------------------------------------

    // view model
    var vm = this;

    // Variables
    vm.data = data;
    vm.preyCount = 4000;
    vm.predatorCount = 90;
    vm.preyReproductionRate = 1.1;
    vm.predatorAttackRate = 0.6;
    vm.conversionEfficiency = 0.2;
    vm.predatorDeathRate = 0.1;
    vm.preyDeathRate = 0.02;
    vm.slider = {
        from: 0,
        to: 10000,
        step: 1,
        realtime: true
    }

    vm.startAnimation = startAnimation;
    vm.stopAnimation = stopAnimation;
    vm.resetData = resetData;

    var archive = [{"predator": vm.predatorCount, "prey": vm.preyCount}];    

    function Cell() {
        this.predatorCount = 0;
        this.preyCount = 0;
        this.addPredator = function(){
            this.predatorCount ++;
        }
        this.addPrey = function(){
            this.preyCount ++
        }
        this.removePredator = function(){
            this.predatorCount --
        }
        this.removePrey = function(){
            this.preyCount --
        }
    }

    // Create the array
    var data 
    function newDataArray() {
        data = _.range(100);
        data.forEach(function(e, row) {
        	data[row] =  _.range(100);
        	data[row].forEach(function(e, col) {
        		data[row][col] = new Cell();
        	})
        });
    }

    // Create the visualization
    newDataArray();
    initializeData(data, vm.preyCount, vm.predatorCount);
    var habitat = d3.select("#habitat");
    var timeseries = d3.select("#timeseries");
    var animation 
    drawData()

    // Functions
    function step() {
        eraseData();
        preyReproduce(data, vm.preyReproductionRate);
        predatorsEat(data, vm.predatorAttackRate, vm.conversionEfficiency)
        predatorsAndPreyDieNaturalDeaths(data, vm.predatorDeathRate, vm.preyDeathRate)
        var archiveEntry = {"predator": vm.predatorCount, "prey": vm.preyCount}
        archive.push(archiveEntry);
        if (archive.indexOf(archiveEntry) >= 200) { archive.splice(0,1) }
        allMove(data);
        drawData();
    }

    function initializeData (array, preyCount, predatorCount) {
    	for (var i = 0; i < preyCount; i++) { 
		    var row = _.random(99),  col = _.random(99)
		    array[row][col].addPrey();
		}
		for (var j = 0; j < predatorCount; j++) {
			var row = _.random(99), col = _.random(99);
			array[row][col].addPredator();
		}
    }

    function preyReproduce (data, preyReproductionRate) {
    	data.forEach(function(thisRow, row) {
    		thisRow.forEach(function(cell, col) {
                _.times(_.cloneDeep(cell.preyCount), 
                    function(){
                    var reproduce = _.random(0,1,true);
                    if (preyReproductionRate >= reproduce + 1) {
                        cell.addPrey();
                        $scope.$apply(vm.preyCount ++);
                    }
                })
            })
    	})
    }

    function allMove (data) {
    	data.forEach(function(thisRow, row) {
    		thisRow.forEach(function(cell, col) {
                _.times(_.cloneDeep(cell.preyCount), function(){
                    var move = _.random(0,8)
                    cell.removePrey()
                    nearbyCell(data, row, col, move).addPrey();
                })
                _.times(_.cloneDeep(cell.predatorCount), function(){
                    var move = _.random(0,8)
                    cell.removePredator();
                    nearbyCell(data, row, col, move).addPredator();
                })
    		})
    	})
    }

    function predatorsEat(data, predatorAttackRate, conversionRate) {
        data.forEach(function(thisRow, row) {
            thisRow.forEach(function(cell, col) {
                _.times(_.cloneDeep(cell.predatorCount), function(){
                    _.times(9, function(n){
                        var neighbor = nearbyCell(data, row, col, n)
                        _.times(_.cloneDeep(neighbor.preyCount), function(n1){
                            var attack = _.random(0,1,true);
                            if (attack <= predatorAttackRate) {
                                neighbor.removePrey();
                                $scope.$apply(vm.preyCount --);
                                var reproduce = _.random(0,1,true)
                                if (reproduce <= conversionRate) {
                                    cell.addPredator();
                                    $scope.$apply(vm.predatorCount ++);
                                }
                            }
                        })
                    })
                })
            })
        })
    }

    function predatorsAndPreyDieNaturalDeaths(data, predatorDeathRate, preyDeathRate) {
        data.forEach(function(thisRow, row) {
            thisRow.forEach(function(cell, col) {
                _.times(_.cloneDeep(cell.predatorCount), function() {
                    var death = _.random(0,1,true)
                    if (death <= predatorDeathRate) {
                        cell.removePredator();
                        $scope.$apply(vm.predatorCount --);
                    }
                })
                _.times(_.cloneDeep(cell.preyCount), function() {
                    var death = _.random (0,1,true)
                    if (death <= preyDeathRate) {
                        cell.removePrey();
                        $scope.$apply(vm.preyCount --);
                    }
                })
            })
        })
    }

    

    function drawData(){
        // Array
	    var rows = habitat.selectAll(".row")
	    	.data(data)
	    	.enter()
	      .append("g")
	      	.attr("class", "row")
	      	.attr("transform", function(d, i) {return "translate(0," + i * 4 + ")"; })
	    var cells = rows.selectAll(".cell")
	    	.data(function(d) { return d; })
	    	.enter()
	      .append("rect")
	      	.attr("class", "cell")
	      	.attr("x", function(d, i) { return i * 4 })
	      	.attr("width", 4)
	      	.attr("height", 4)
	      	.attr("fill", function(d) { return getColor(d) })

        // Timeseries
        var yScale = d3.scaleLinear()
            .range([200, 0])
            .domain([0, d3.max([20000, d3.max(archive, function(d){return d.prey}), d3.max(archive, function(d){return d.predator})])])

        var lines = timeseries.selectAll(".line")
            .data(archive)
            .enter()
          .append("g")
            .attr("class", "line")
        lines.append("line")
            .attr("x1", function(d, i) { return i * 2 })
            .attr("x2", function(d, i) { return (i + 1) * 2 })
            .attr("y1", function(d, i) { return yScale(d.predator) })
            .attr("y2", function(d, i) { 
                if (archive.length == i + 1) {return yScale(d.predator)} else { return yScale(archive[i+1].predator) }
            })
            .attr("stroke", "#ff1e1e")
            .attr("stroke-width", "1")
        lines.append("line")
            .attr("x1", function(d, i) { return i * 2 })
            .attr("x2", function(d, i) { return (i + 1) * 2})
            .attr("y1", function(d, i) { return yScale(d.prey) })
            .attr("y2", function(d, i) {
                if (archive.length == i + 1) {return yScale(d.prey)} else { return yScale(archive[i+1].prey) }
            })
            .attr("stroke", "#009620")
            .attr("stroke-width", "1")

    }

    function eraseData(){
    	habitat.selectAll(".row").remove();
        timeseries.selectAll(".line").remove();
    }

    function stopAnimation() {
        animation.stop()
        console.log(archive)
    }

    function startAnimation() {
        animation = d3.interval(step, 500)
    }

    function resetData() {
        newDataArray();
        initializeData(data, vm.preyCount, vm.predatorCount);
        eraseData()
        drawData()
    }

    function updateTimeseries() {

    }
 

    
    function nearbyCell(array, row, col, side) {

        function up(index) {
                        if (index == 99) {
                            return 99;
                        } else {
                            return index + 1;
                        }
                    }
                    function down(index) {
                        if (index == 0) {
                            return 0;
                        } else {
                            return index -1;
                        }
                    }

        if (side == 0) {
            return array[row][col];
        } else if (side == 1) {
            return array[up(row)][down(col)];
        } else if (side ==2) {
            return array[up(row)][col];
        } else if (side == 3) {
            return array[up(row)][up(col)];
        } else if (side == 4) {
            return array[row][up(col)];
        } else if (side == 5) {
            return array[down(row)][up(col)];
        } else if (side == 6) {
            return array[down(row)][col];
        } else if (side == 7) {
            return array[down(row)][down(col)];
        } else if (side == 8) {
            return array[row][down(col)];
        }
    }

    function getColor(cell) {
    	if ( cell.predatorCount + cell.preyCount == 0 ) {
    		return "#cccccc"
    	} else if ( cell.preyCount > cell.predatorCount ) {
			return "#009620" //green
		} else if ( cell.preyCount < cell.predatorCount ) {
    			return "#ff1e1e" // red
    	} else {
    		return "#635700"//brown
    	}
    }



  }

})();

</script>

</body>

</html>

